

#GroceryForm .groceryItem input {
    width: 100%;
    height: 50px;
    display: block;
}


a:link,
a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}

#GroceryForm .groceryItem {
    flex-grow: 1;
}

.list-group-item {
    margin-bottom: 1rem;
}
.list-group-item + .list-group-item {
    border-top-width: 1px;
}

h2 i{
    color: rgb(179, 210, 40);
}

span i{
    color: red;
}
